<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="debug">
    <Appenders>
        <!-- 控制台输出 -->
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{yyyy-MM-dd HH-mm:ss.SSS} [%t] %-5level %X{bizSeqNo} %logger{36} - %msg%n" />
        </Console>
        <!-- 文件输出 -->
        <RollingFile name="File" fileName="/data/appsystems/gooluke/gooluke-core/logs/gooluke-core.log"
                     filePattern="/data/appsystems/gooluke/gooluke-core/logs/gooluke-core_%d{yyyy-MM-dd_HH}_%i.log">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
            <Policies>
                <!--按照文件大小拆分 -->
                <SizeBasedTriggeringPolicy size="200MB" />
                <!--按照时间节点进行拆分-->
                <TimeBasedTriggeringPolicy interval="1" />
            </Policies>
        </RollingFile>
    </Appenders>
    <Loggers>
        <Root level="info">
            <AppenderRef ref="Console" />
            <AppenderRef ref="File" />
        </Root>
        <Logger name="com.gooluke" level="debug" additivity="false">
            <AppenderRef ref="Console" />
            <AppenderRef ref="File" />
        </Logger>
    </Loggers>
</Configuration>
